In [2]:
import numpy as np
from data_loader import get_data_loader

dataset_name = "als"
dl = get_data_loader(dataset_name).load_data()
num_features, cat_features = dl.get_features()
df = dl.get_data()

In [4]:
df[0]

                SOO  Diagnosis_Delta  FVC_Min  FVC_Max  FVC_Mean
1              Limb            302.0      NaN      NaN       NaN
3              Limb            507.0     0.84     1.10  0.950000
4              Limb              NaN     2.38     2.38  2.380000
5     LimbAndBulbar            986.0     2.33     2.37  2.353333
6             Other             49.0     2.36     2.54  2.446667
...             ...              ...      ...      ...       ...
7678           Limb             67.0      NaN      NaN       NaN
7679           Limb            125.0      NaN      NaN       NaN
7680           Limb            351.0      NaN      NaN       NaN
7681           Limb             35.0      NaN      NaN       NaN
7682           Limb            264.0      NaN      NaN       NaN

[7299 rows x 5 columns]

In [7]:
df[1].max()

40350.0

In [6]:
df[2]

array([[False, False, False,  True],
       [ True,  True, False, False],
       [ True,  True, False,  True],
       ...,
       [False, False, False,  True],
       [ True, False, False, False],
       [ True,  True, False, False]])

In [3]:
obs_arr = np.array(y['event'])
n_censored = obs_arr.shape[0] - obs_arr.sum()
print(f"Number of samples: {len(y)}")
print(f"Number of uncensored/censored: {obs_arr.shape[0]-n_censored}/{n_censored}")
pct_censored = round(n_censored / obs_arr.shape[0], 2)
print(f"{pct_censored* 100} % of records are censored")
print(f"{(1-pct_censored)* 100} % of records are uncensored\n")

Number of samples: 38520
Number of uncensored/censored: 12845/25675
67.0 % of records are censored
32.99999999999999 % of records are uncensored

In [17]:
print(len(num_features))
print(len(cat_features))

14
0

In [18]:
print(y[(y['event'] == True)]['time'].min())
print(y[(y['event'] == True)]['time'].max())
print(y[(y['event'] == True)]['time'].mean())

3
1944
205.4536116633532

In [19]:
print(y[(y['event'] == False)]['time'].min())
print(y[(y['event'] == False)]['time'].max())
print(y[(y['event'] == False)]['time'].mean())

344
2029
1059.856891082129

In [22]:
df

,SOFA,abs_lymphocytes_max,abs_lymphocytes_min,age,aniongap_max,aniongap_min,aniongap_range,bicarbonate_max,bicarbonate_min,bicarbonate_range,...,temperature_max,temperature_mean,temperature_min,temperature_range,wbc_max,wbc_min,wbc_range,weight,time,event
0,0,1.2800,1.1570,55,16.0,15.0,1.0,23.0,22.0,1.0,...,38.22,37.255000,36.72,1.50,19.0,15.7,3.3,71.20,1,False
1,1,0.7310,0.7310,46,16.0,14.0,2.0,24.0,24.0,0.0,...,36.83,36.556000,36.39,0.44,20.1,17.0,3.1,72.35,1,False
2,8,0.5500,0.5500,77,11.0,11.0,0.0,33.0,33.0,0.0,...,37.20,36.573684,35.10,2.10,18.4,12.0,6.4,65.00,9,True
3,4,1.2800,1.1570,57,12.0,12.0,0.0,23.0,23.0,0.0,...,37.70,37.242353,36.22,1.48,20.2,17.9,2.3,100.05,1,False
4,5,0.3580,0.3580,82,19.0,13.0,6.0,23.0,22.0,1.0,...,37.33,36.452857,36.06,1.27,17.9,9.5,8.4,48.00,167,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38515,1,1.6362,1.6362,77,20.0,20.0,0.0,22.0,22.0,0.0,...,38.28,36.935000,36.33,1.95,20.2,20.2,0.0,93.60,38,True
38516,9,0.7566,0.7566,42,12.0,10.0,2.0,25.0,24.0,1.0,...,36.50,35.985714,35.56,0.94,8.8,5.5,3.3,68.80,7,True
38517,5,1.2800,1.1570,43,15.0,14.0,1.0,24.0,23.0,1.0,...,37.61,37.266000,36.83,0.78,12.1,9.5,2.6,107.50,7,False
38518,1,1.2800,1.1570,48,14.0,11.0,3.0,17.0,14.0,3.0,...,37.11,36.848571,36.39,0.72,13.1,13.1,0.0,67.90,2,False
38519,8,1.2012,1.2012,58,21.0,12.0,9.0,28.0,25.0,3.0,...,37.39,36.785714,36.22,1.17,24.3,13.2,11.1,77.95,5,True